* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Code', monospace;
    font-family: 'PT Serif', serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
}

header {
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 150px;
    margin-top: 150px;
    

}

.head-title {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    padding-right:190px;
}

.sub-title {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.detail {
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}

.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.img-content {
    display: flex;

}

.img-content p {
    writing-mode: vertical-lr;
}

.margin {
    margin-top: 130px;
}

.name {
    margin-top: 10px;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
}

main {
    margin-top: 100px;
   margin:50px;
   padding-left: 160px;
    
}

.image-section img {
    width: 380px;
    height: 550px;
}

footer p {
    text-align: center;
    margin-top: 115px;
    margin-bottom: 24px;
}

.role {
    color: #000;
    font-family: PT Serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
@media screen and (max-width:576px) {
   header{
    flex-direction: column;
    margin-top: 50px;
   }
   .head-title{
    font-size:.9rem;
    padding-right: 100px;
   }
   .image-section img {
    width: 170px;
    height: 240px;
   }
   .image-section{
    grid-template-columns: repeat(2,1fr);
   }
   main{
    padding-left:6px;
    margin: 0;

   }
   .head-container {
    margin-top: 100px;
    padding: 10px;
   }
}